h1 {
  background-color: cornflowerblue;
}

h4 {
  background-color: blueviolet;
}


.uno li a {
  text-decoration: none;
  color: #0fbfc6 font-family:arial;
}

.uno li ul li {
  margin: left;
  -40px;

}

.dos>li {
  font-weight: 300;
  list-style: none;
}

.uno li {
  list-style: none;
  width: 100px;
  overflow: hidden;
  font-weight: 600;
}

.uno>li:hover {
  height: auto;
}

.nav li:hover>ul {
  display: block;

}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0;
}

.nav li .flecha {
  font-size: 9px;
  padding-left: 6px;
  display: none;

}

h1 {
  background-color: cornflowerblue;
}